@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), url(./fonts/source_code_pro/SourceCodePro-Regular.ttf) format('truetype');
}

body {
  background-color: #0f0f23;
  margin: 0;
  font-family: 'Source Code Pro', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
